/*RESET*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* HEADER */
header{
    background-color: #add8e6;
    padding:10px 0px 10px;
}

header div.contenitore{
    width:75%;
    height: 40px;   /* debug */
    margin:0 auto;
    background-color: #daa521;
    border:2px black;
    border-style: dashed;

    display: flex;
    justify-content: space-between;
    line-height: 40px;      /* debug */
    vertical-align: center;
}

/*Menù*/
nav{
    width: 50%;
    display: flex;
}
nav ul{
    
    width: 100%;
    list-style-type: none;
    border-right:2px dashed black ;
    border-left:2px dashed black ;

    display: flex;
    gap: 10px;
    justify-content: center;
    
}

/*Login*/
.login a{
    color: black;
    text-decoration: none;
    
}

/*MAIN*/

/*Sezioni*/
.sezione{
    height: 500px;      /* debug */

    display: flex;
    justify-content: center;
    align-items: center;
}

/*1*/
.sezione-1{
    background-color: #00008b;
}
.blocco1-A{
    display: flex;
    width: 40%;     
    background-color: #ee81ee;
    height: 80%;    /* debug */
}

/*2*/
.sezione-2{
    background-color: #ffffff;
}
.blocco2-A{
    background-color: #1d90ff;
    width: 50%;     
    height: 80%;    /* debug */
}
.blocco2-B{
    background-color: #ffc0cb;
    width: 30%;
    height: 80%;    /* debug */
}